<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Hello World!!</h1>
  </div>

  <p id="demo">
    A light weight weather checking application
  </p>

  <input type="text" class="search" placeholder="Enter the city name">
  <button class="btn btn-default" type="button" onclick="searchWeather()">
   Search
  </button>
  <div class="error-message"></div>
  <div class="city"></div>
  <div class="temp"></div>
  <div class="feelsLike"></div>
  <div class="weather"></div>

</body>

</html>